<html>

<head>
    <title>Responsive design</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1486f7aa5e.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="js/main.js"></script>
    <script src="js/caroufredsel.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <!-- <a href="" class="logo"><img src="image/logo.jpg" width="300px" height="100px"></a> -->
                <nav class="nav-menu">
                    <ul class="menu">
                        <li><a href="">Home</a> </li>
                        <li><a href="">Work</a> </li>
                        <li><a href="">Service</a> </li>
                        <li><a href="">Clients</a> </li>
                        <li><a href="">Our team</a> </li>
                        <li><a href="">Contact</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="slider">
        <ul class="slider-carousel" id="slider-carousel">
            <li class="img1">
                <h2>BEAUTIFIED BUSINESS <span>TEMPLATE</span> </h2>
                <p>We believe in creativity always</p>
                <i class="fa fa-apple"></i>
                <i class="fa fa-android"></i>
                <i class="fa fa-windows"></i>
                <br>
                <a href="" class="btn btn-half">Get Started</a>
                <a href="" class="btn btn-full">Buy Now</a>

            </li>
            <li class="img2">
                <h2>BEAUTIFIED BUSINESS <span>TEMPLATE</span> </h2>
                <p>We feel in creativity always</p>
                <i class="fa fa-apple"></i>
                <i class="fa fa-android"></i>
                <i class="fa fa-windows"></i>
                <br>
                <a href="" class="btn btn-half">Get Started</a>
                <a href="" class="btn btn-full">Buy Now</a>

            </li>
            <li class="img3">
                <h2>BEAUTIFIED BUSINESS <span>TEMPLATE</span> </h2>
                <p>We love in creativity always</p>
                <i class="fa fa-apple"></i>
                <i class="fa fa-android"></i>
                <i class="fa fa-windows"></i>
                <br>
                <a href="" class="btn btn-half">Get Started</a>
                <a href="" class="btn btn-full">Buy Now</a>
            </li>
        </ul>
    </section>
    <section class="intro-area" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>WORK WITH SMILE</h2>
                    <div class="sub-heading">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="intro-block">
                        <span class="intro-icon"> <i class="fa fa-paint-brush"></i> </span>
                        <h3>Unique design</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae consectetur ipsam quia eum, sapiente et expedita labore nesciunt quis exercitationem. Natus quo ab suscipit eligendi cumque, ea laborum sunt qui!</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="intro-block">
                        <span class="intro-icon"> <i class="fa fa-angellist"></i> </span>
                        <h3>Corporate branding</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa magnam nam sit. Optio iure eum quaerat. Sed maxime excepturi tempore architecto ipsa nesciunt deleniti, dolore quae, doloremque voluptatem tempora tenetur?</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="intro-block">
                        <span class="intro-icon"> <i class="fab fa-angrycreative"></i> </span>
                        <h3>Corporate finding</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sunt veniam facilis distinctio, eaque mollitia necessitatibus in vel hic ex deserunt enim at saepe inventore ipsum, repudiandae dolorum exercitationem dolor.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feature-area" id="feature">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title text-center">
                        <h2>work feature</h2>
                        <div class="sub-heading">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12-lg-8 text-center">
                    <div class="feature-block">
                        <div class="single-feature">
                            <span class="feature-icon"><i class="fa fa-exchange"></i></span>
                            <h3>Custom scrollbars</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est hic culpa quas excepturi facilis commodi, corrupti rem repellendus beatae placeat, sint esse nisi quidem minima enim ipsa nesciunt minus? Repellat.
                            </p>
                        </div>
                        <div class="single-feature">
                            <span class="feature-icon"><i class="fa fa-star-half-o"></i></span>
                            <h3>robust demo package</h3>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta minima commodi aliquid quos in id eum, corrupti aspernatur velit. Nulla exercitationem perferendis deserunt quas eos iusto beatae similique molestias optio.
                            </p>
                        </div>
                        <div class="single-feature">
                            <span class="feature-icon"><i class="fa fa-arrows-alt"></i></span>
                            <h3>easy to use</h3>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta minima commodi aliquid quos in id eum, corrupti aspernatur velit. Nulla exercitationem perferendis deserunt quas eos iusto beatae similique molestias optio.
                            </p>
                        </div>
                        <div class="single-feature">
                            <span class="feature-icon"><i class="fa fa-cog"></i></span>
                            <h3>tons of api</h3>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta minima commodi aliquid quos in id eum, corrupti aspernatur velit. Nulla exercitationem perferendis deserunt quas eos iusto beatae similique molestias optio.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4-lg-4">
                    <div class="feature-mockup">
                        <img src="" class="image-responsive">
                    </div>
                </div>

            </div>
        </div>

    </section>
</body>

</html>